.table-container {
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	box-shadow: #F7C844 -15px 15px 0 0;
}

.btn-style {
	width: 80px;
	height: 40px;
	background: #fbeee0;
	border: 2px solid #422800;
	border-radius: 10px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 550;
	font-size: 15px;
	margin: 25px;
	padding: 0 18px;
	/* line-height: 50px; */
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.btn-style:hover {
	background-color: #fff !important;
	font-weight: 600;
}

.btn-style:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}