<div class="col-md-6 offset-md-3 CreateCustomer">
	<h3>Create Customer</h3>
	<div class="CreateCustomer-container">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" id="firstName" [(ngModel)]="customer.firstName"
					name="firstName">
				<label>Last Name</label>
				<input type="text" class="form-control" id="lastName" [(ngModel)]="customer.lastName" name="lastName">
				<label>Email Id</label>
				<input type="text" class="form-control" id="emailId" [(ngModel)]="customer.emailId" name="emailId">
				<label>Phone Number</label>
				<input type="text" class="form-control" id="phoneNumber" [(ngModel)]="customer.phoneNumber"
					name="phoneNumber" pattern="^(01)[0-46-9]*[0-9]{7,8}$">
				<label>Date of Birth</label>
				<input type="text" class="form-control" id="dateOfBirth" [(ngModel)]="customer.dateOfBirth"
					name="dateOfBirth" placeholder="dd/mm/yyyy">
			</div>
			<button class="btn-style" type="submit">Submit</button>
		</form>
	</div>
</div>