input {
	text-align: left;
	width: 500px;
	height: 35px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(177, 205, 233, 0.58);
	border: none;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

label {
	text-align: left;
	width: 100%;
	padding-left: 27px;
	padding-top: 5px;
}

h3 {
	padding: 10px;
}

.btn-style {
	width: 100px;
	height: 40px;
	background: #fbeee0;
	border: 2px solid #422800;
	border-radius: 10px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 550;
	font-size: 15px;
	margin: 25px;
	padding: 0 18px;
	/* line-height: 50px; */
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.btn-style:hover {
	background-color: #fff !important;
	font-weight: 600;
}

.btn-style:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.CreateCustomer {
	width: 700px;
	height: 450px;
	background: rgba(177, 205, 233, 0.4);
	border-radius: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.CreateCustomer-container {
	width: 600px;
	height: 380px;
	background: #FFFFFF;
	border: 2px dashed #808080;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}